
html {
  font-size: 13px;
  font-family: 'andale-mono', monospace;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

dd {
  display: list-item;
  list-style-type: '\00BB\0020';
}


button {
  display: block;
  margin: 1rem auto;
}

header {
  margin-bottom: 1rem;
  display: block;
}

#banner {
  width: 38rem;
}

#helpBtn {
  appearance: none;
  -webkit-appearance: none;
  font-family: 'andale-mono', monospace;
  font-weight: bold;
  font-size: 1rem;
  background-color: white;
  border: black solid .2rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  box-shadow: 0 0 0.5em lightgray;
}




#helpBtn:focus {
  outline: white 0 solid;
}




#total {
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  height: auto;
}

#total-wrapper {
  overflow: hidden;
  transition: height 0.1s linear;
  height: 0;
}


#help {
  font-size: 1rem;
  margin: 0;
  width: 27rem;
  height: auto;
}

#help h2:first-child {
  margin-top: 0;
}

#help-wrapper {
  overflow: hidden;
  transition: height 0.3s linear;
  transition-delay: 0;
  height: 0;
  margin-bottom: 2rem;
  margin-top: 1rem;
}



h2 {font-size: 1.2rem}



textarea {overflow: auto}


@font-face {
  font-family: 'andale-mono';
  src: url('Andale Mono.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 425px) {
  header {
    margin-top: 1rem;
  }
  #banner, #help, #total {
    width: 80vw;
  }
}

